<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.smartdns</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/sbin/smartdns</string>
		<string>-f</string>
		<string>-c</string>
		<string>/Users/nyamiiko/Downloads/GitHub/script_hub/smartdns/smartdns.conf</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/smartdns.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/smartdns.out</string>
	<key>SoftResourceLimits</key>
	<dict>
		<key>numberOfFiles</key>
		<integer>65536</integer>
	</dict>
	<key>HardResourceLimits</key>
	<dict>
		<key>numberOfFiles</key>
		<integer>65536</integer>
	</dict>
</dict>
</plist>
